
/* ------------------------------------------------------------ *\
  Common Elements Desktop
\* ------------------------------------------------------------ */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('http://media.ef.com/~/media/efcom/oct/_assets/shortstack/HelveticaNeueLTPro-Lt-eot');
    src: url('http://media.ef.com/~/media/efcom/oct/_assets/shortstack/HelveticaNeueLTPro-Lt-eot?#iefix') format('embedded-opentype'), url('http://media.ef.com/~/media/efcom/oct/_assets/shortstack/HelveticaNeueLTPro-Lt-woff') format('woff'), url('http://media.ef.com/~/media/efcom/oct/_assets/shortstack/HelveticaNeueLTPro-Lt-ttf') format('truetype');
    font-weight: 300 !important;
    font-style: normal !important;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 23px;
  font-weight: 300;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1, h2 {
  font-weight: 400;
  margin: 0;
  letter-spacing: -1.2px;
  line-height: 51px;
  font-family: 'Sabon';
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 42px;
}
a {
  text-decoration: none;
}
.front-desk-content span,
.city-desk-content span,
.thank-you-content span{
  border-bottom:1px solid #fff;
  display: block;
}
.button {
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 20px 8px;
  max-width: 190px;
  margin-bottom: 50px;
}
section {
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  position: relative;
}
.section-container {
  max-width: 944px;
  margin: 0 auto;
}
.scroll-icon-down {
  content: '';
  z-index: 9;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-width: 4px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.scroll-icon-up {
  content: '';
  z-index: 9;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-width: 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-bottom: 30px;
}
.logo {
  position: fixed;
  top: 50px;
  left: 100px;
  z-index: 9;
}
.section-links {
  position: fixed;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
  bottom: 5%;
  z-index: 9;
}
.section-links .opaque {
    opacity: 0;
}
.section-links .button.hide {
    display: none;
}
body.desktop #wrapper {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  h1, h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .logo {
    top: 20px;
    left: 20px;
  }
  .section-links {
    bottom: 0;
    width: 100%;
  }
  .scroll-icon-down {
    height: 20px;
    width: 20px;
 }
 .scroll-icon-up {
    height: 20px;
    width: 20px;
  }
}



/* ------------------------------------------------------------ *\
  Front Desk
\* ------------------------------------------------------------ */

.front-desk-content {
  top: 25%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
  width: 100%;
  position: absolute;
  max-width: 540px;
}
.front-desk-content p {
}
.button span {
  max-width: 30px;
  margin: 0 auto;
  display: block;
  line-height: 12px;
}
@media screen and (max-width: 767px) {

  .front-desk-content{
    top: 50%;
  }

  .front-desk-content p {
    padding: 0 50px;
  }
  .front-desk-content h1 {
    margin: 0 30px;
  }
}

/* ------------------------------------------------------------ *\
  City
\* ------------------------------------------------------------ */

.city-desk-content {
  padding-top: 100px;
  margin: 0 100px;
}
@media screen and (max-width: 800px) {
  .city-desk-content {
    padding-top: 150px;
  }
}
@media screen and (max-width: 767px) {
  .city-desk-content {
    padding-top: 140px;
    margin: 0 10px;
  }
}

/* ------------------------------------------------------------ *\
  Thank you page
\* ------------------------------------------------------------ */

.thank-you-content {
  padding-top: 100px;
  margin: 0 100px;
}
.thank-you-content p {
  padding: 0 29%;
}
.thank-you-links {
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
  bottom: 70px;
}
.share-button p {
  text-transform: uppercase;
  font-size: 12px;
}
.share-button ul {
  list-style: none;
  padding: 0;
}
.share-button ul li {
  display: inline-block;
  margin: 0 15px;
}

#share-wrapper{
     width: 410px;
    max-width: 100%;
    margin: 0 auto;
    float: none;
}

.ef-share {
    width: auto;
    float: left;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
}

.ef-share-email{
  margin-top:10px;
}

.ef-share img {
    max-width: 50%;
}

img[src="//bat.bing.com/action/0?ti=4017571&amp;Ver=2"]{
  display:none !important;
}
@media screen and (max-width: 767px) {
  .thank-you-content p {
    padding: 0;
  }
  .thank-you-content {
    margin: 0 20px;
    padding-top: 140px;
  }
  .thank-you-links {
    bottom: 40px;
    width: 100%;
  }
  .thank-you-links p {
    padding: 0 10px;
  }
}

/* ------------------------------------------------------------ *\
  Media query for screens lesser than 500px
\* ------------------------------------------------------------ */

@media screen and ( max-height: 500px ){
    .front-desk-content {
    top: 30%;
    }
    .button {
        margin-bottom:20px;
    }
    .city-desk-content {
        padding-top: 30px;
    }
}
@media screen and ( max-height: 500px ) and (max-width: 767px) {
  .front-desk-content {
    top: 30%;
    max-width: 60%;
  }
  .city-desk-content {
    width: 60%;
    margin: 0 auto;
  }

}

/* ------------------------------------------------------------ *\
  Media query for screens lesser than 320px
\* ------------------------------------------------------------ */

@media screen and (max-width: 320px) {
  .front-desk-content {
    top: 45%;
    max-width: 90%;
  }
  .city-desk-content {
    padding-top: 115px;
  }

  .front-desk-content h1{
    margin: 0px;
  }

  .city-desk-content {
    width: 80%;
}

  .front-desk-content p {
    padding: 0 20px;
}

}

/* ------------------------------------------------------------ *\
  Form Elements
\* ------------------------------------------------------------ */
.form{
  position:fixed;
  background: #fff;
  top:0;
  display:none;
  color:#000;
  overflow:auto;

}
.form a{
  color:#000;
}
.form-logo{
  float: left;
  top: 30px;
  position: relative;
  left: 50px;
}
.privacy-policy{
  text-align:center;
}
.privacy-policy a{
  text-decoration: underline;
}
.form-container{
     max-width: 970px;
    margin: 0 auto;
        padding: 100px 20px;
}
#form-wrapper{
    text-align:left;
    margin-top:50px;
}
.thank-you-page{
    display:none;
    position: fixed;
    top:0;
    background: url('../images/original_GB-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

li.ChooseResolution{
  display: none !important;
}

@media (max-width: 767px) {
  .form{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .thank-you-page{
    background: url('../images/original_GB-2-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .form-logo{
    float: none;
    top: 20px;
    position: relative;
    left: 30px;
    display: block;
  }
  .thank-you-page .form-logo{
    float:left;
  }
  .front-desk-content span, .city-desk-content span{
    margin:0 10px;
  }
}
.close-btn{
     z-index: 999;
    color: #000;
    width: 56px;
    height: 56px;
    margin: 0!important;
    padding: 0!important;
    border: 1px solid #ccc;
    opacity: 1!important;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #fff;
        position: absolute;
    right: 10px;
    top: 10px;
    cursor:pointer;
}
#layer-wrapper #layer{top: 50% !important; left: 50% !important; position:fixed !important;    -webkit-transform:translateX(-50%) translateY(-50%);  -ms-transform:translateX(-50%) translateY(-50%);  transform:translateX(-50%) translateY(-50%);}
.pac-container{z-index:9999 !important;}
@media screen and (max-width: 767px) {
    .form-container {
      padding: 50px 20px;
  }

}

/* ------------------------------------------------------------ *\
    10.1 Poseidon Form Section
\* ------------------------------------------------------------ */


.ef-fr-control.ef-fr-hidden ,
.ef-fr-validation-message,
.ef-fr-YesEmailMarketing-wrapper
{
  display: none;
}

.ef-fr-control.ef-fr-required>label::after {
  content: " *";
}

.container {
  width: 96%;
  text-align: center;
  font-size: 13pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#mc-selector {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}


#complex-form, [data-form-renderer] {
  width: 85%;
}
.ef-fr-form {
  text-align: center;
}

.ef-fr-control {
  margin-top: 10px;
  margin-bottom:0;
  width:46%;
  float:left;
  padding:0 15px;
  position:relative;
}

.ef-fr-radio-button-wrapper{
  width:50%;
  float:left;
}

.ef-fr-WantsBrochure-wrapper,
.ef-fr-HasAcceptedTerms-wrapper,
.ef-fr-YesEmailMarketing-wrapper,
.ef-fr-CustomCheckbox-wrapper{
  width:100%;
  float:left;
  margin-top: 15px;
}


.ef-fr-control>label, .ef-fr-control>input, .ef-fr-control>textarea, .ef-fr-control:not(.ef-fr-group-DOBStudent)>select, .ef-fr-radio-button-wrapper>div, .ef-fr-radio-button-wrapper>label, .ef-fr-checkbox-wrapper>div {
  float: left;
  width: 100%;
  box-sizing:border-box;
}
.ef-fr-control>label, .ef-fr-radio-button-wrapper>label {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-right: 6px;
  line-height: 28px;
  vertical-align: middle;
}
.ef-fr-control:not(.ef-fr-checkbox-wrapper)>label {
  text-align: left;
}
.ef-fr-control.ef-fr-checkbox-wrapper>label, .ef-fr-radio-button-wrapper>label {
   text-align: left;
   width:auto;
   margin-left:10px;
}
.ef-fr-radio-button-wrapper input{
  width:auto;
  float:left;
  margin-top:10px;
}
.ef-fr-radio-button-wrapper > label{
  width:auto;
  float:left;
  padding-left:10px;
}
.ef-fr-control>input, .ef-fr-radio-button-wrapper>div>input, .ef-fr-checkbox-wrapper>div>input, .ef-fr-control>.awesomplete>input {
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  height:41px;
}

div.awesomplete{
 display:block !important;
}

.ef-fr-control>.awesomplete>input{
  float:left;
  height: 27px;
  width: 95%;
}

.ef-fr-control>textarea{
  padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
    resize: none;
}
.ef-fr-radio-button-wrapper>div, .ef-fr-checkbox-wrapper>div {
  text-align: right;
  margin-right: 10px;
  margin-top: 6px;
  width:auto;
}

.ef-fr-checkbox-wrapper input, .ef-fr-radio-button-wrapper input{
  width:auto;
  float:left;
  margin-top:10px;
  height:auto;
}

.ef-fr-control>select {
  width:100%;
  display: block;
  float: left;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  height:40px;
   -webkit-appearance: none;
  -moz-appearance: none;
 background: rgba(255, 255, 255, 1) url("https://efdigitalmarketing.github.io/templates/assets/icons/Dropdown_arrow.png") no-repeat scroll 98% center;
}

 .ef-fr-control>select:hover{
  background: rgba(255,255,255,1) url("https://efdigitalmarketing.github.io/templates/assets/icons/Dropup_arrow.png") no-repeat scroll 98% center;
}

.ef-fr-group-DOBStudent>select{
  width:32%;
  margin-right:5px;
  background: rgba(255, 255, 255, 1) url("https://efdigitalmarketing.github.io/templates/assets/icons/Dropdown_arrow.png") no-repeat scroll 95% center;
  }

.ef-fr-group-DOBStudent>select:nth-child(3n + 1){
  margin-right:0;
}

.ef-fr-group-DOBStudent>select:hover{
  background: rgba(255, 255, 255, 1) url("https://efdigitalmarketing.github.io/templates/assets/icons/Dropup_arrow.png") no-repeat scroll 95% center;
}

.ef-fr-control input:focus,
.ef-fr-control textarea:focus{
 border:1px solid #000;
}



.ef-fr-control::after, .ef-fr-radio-button-wrapper::after {
  display: block;
  content: '';
  clear: both;
  margin-top: 10px;
}
.ef-fr-submit {
    padding:12px 10px;
    margin: 30px auto 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    max-width: 250px;
    float: left;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    color:#fff;
    background:#000;
}

.ef-fr-submit:hover{
  color:#fff;
  background:#ff008el;
}

label[for=simple-form-HasAcceptedTerms] a{
  color:#000;
}

label[for=simple-form-HasAcceptedTerms]:hover{
 text-decoration:underline;
}


.ef-fr-MobilePhone-wrapper label,
.ef-fr-AreaCodeHomePhone-wrapper label,
.ef-fr-HomePhone-wrapper label
{
  display: none;
}

.ef-fr-radio-wrapper ,
.ef-fr-HomePhone-wrapper{
    margin-bottom: 0;
    display:none;
}

.ef-fr-MobilePhone-wrapper{
    display: block;
    margin-top: 10px;
}

.ef-fr-MobilePhone-wrapper label{
    display:block;
}

.ef-fr-AreaCodeHomePhone-wrapper{
    width: 10%;
    float: left;
    padding: 0 0 0 15px;
    margin-top:0;
}

.ef-fr-HomePhone-wrapper{
    width: 38%;
    float: left;
    padding: 0 0 0 15px;
    margin-top:0;
}

/*validation*/
.ef-fr-invalid input,
.ef-fr-invalid select{
    border-color: #b90000;
    color: #b90000;
}

.ef-fr-valid input,
.ef-fr-valid select{
    color: #000;
    background-image: url("https://efdigitalmarketing.github.io/templates/assets/icons/check-green.png");
    background-size: 12px 8px;
    background-repeat:no-repeat;
    background-position: 97%;
}


@media all and (max-width: 767px) {
  .ef-fr-control {
    width:100%;
    float:left;
    padding:0;
  }
  
  .ef-fr-control>.awesomplete>input{
    float:left;
    height: 27px;
    width: 91%;
}


}

/**** 4.1 spinner ****/
.spiner-holder {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position:fixed;
  background:#000;

}

.spiner {
  position: relative;
  margin: 50% auto;
  width: 20px;
  height: 20px;
}
.spiner:before {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../images/spin.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 104%;
  height: 104%;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 1;
}
.spiner:after {
  display: block;
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 98%;
  height: 98%;
  z-index: 0;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
